$primary-text-color: #9EA0A5;
$title-text-color: #212529;
$bg-color: #F2F2F2;
$link-color: #56575A;
$btn-color: #0D7185;
$secondary-bg-color: #FFFFFF;
$accent-color: #3A3B3F;
$secondary-text-color: rgba(0, 0, 0, 0.6);;
$main-font: 'Montserrat', sans-serif;
