@import '../../../../assets/scss/variables.scss';

.register-container {
	display: flex;
	justify-content: space-between;

	background: $secondary-bg-color;
	box-shadow: $boxShadowContainer;
	border-radius: 4px;

	width: 960px;
	margin: 0 auto;
	margin-top: 10vh;

	font-size: 14px;
	line-height: 17px;
	letter-spacing: -1.05px;
}

.form-container {
	width: 487px;
	padding: 70px 63px 104px 64px;

	&_header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 64px;

		a,
		span {
			display: flex;

			a {
				text-decoration: underline;
			}
		}
	}
}

form {
	width: 100%;
	position: relative;
}

a:hover {
	color: #2592a8;
	font-weight: 500;
}

input {
	display: block;
	border: $borderInputColor;
	border-radius: 4px;
	margin-bottom: 24px;
	width: 100%;
	padding: 13px 120px 13px 16px;
	height: 50px;
	outline: none;

	&::placeholder {
		font-style: normal;
		font-size: 16px;
		line-height: 24px;
		color: rgba(0, 0, 0, 0.6);
		letter-spacing: -0.85px;
	}
}

h2 {
	color: $title-text-color;
	margin: 0;
	font-size: 24px;
	line-height: 28px;
	letter-spacing: -1.06px;
	font-weight: 500;
}

p {
	margin-bottom: 28px;
	margin-top: 0;
	font-size: 14px;
	line-height: 20px;
	letter-spacing: -0.55px;
}

label {
	display: flex;
	margin-bottom: 24px;

	a {
		text-decoration-line: underline;
		color: $link-color;
	}

	span {
		margin-right: 8px;
	}
}

button {
	background: $btn-color;
	box-shadow: $boxshadowBtn;
	text-transform: uppercase;
	width: 100%;
	text-align: center;
	padding: 12px 0px;
	border-radius: 4px;
	letter-spacing: 0.25px;
	color: $secondary-bg-color;
	border: none;

	&:disabled {
		opacity: 0.6;
	}

	&:hover {
		background-color: #2592a8;
	}
}

.custom-checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

label input {
	display: none;
}

label span {
	width: 18px;
	height: 18px;
	border: 2px solid #425A70;
	display: inline-block;
	position: relative;
	background-color: $secondary-bg-color;
	border-radius: 2px;
	padding: 3px;
}

[type=checkbox]:checked+span:before {
	content: '\2714';
	position: absolute;
	top: -5px;
	left: 0;
	font-size: 23px;
	color: #425A70;
}

.mat-icon {
	line-height: 17px;
	margin-right: 8px;
	width: 18px;
	height: 14px;
}

.error-mesage {
	position: absolute;
	color: $errorColor;
	margin: 0;
	top: -20px;
	font-size: 10px;
	font-weight: 500;
}