@import 'src/assets/scss/variables.scss';

.post-container {
	padding: 20px 24px;
	background-color: #fff;
	margin-bottom: 28px;
}

hr {
	height: 0.5px;
	background: #E4E7EB;
}

textarea {
	width: 100%;
	resize: none;
	height: 130px;
	padding: 16px;
	border: 1px solid #E4E7EB;
	margin-bottom: 10px;

	&::placeholder {
		font-size: 16px;
		line-height: 24px;
		letter-spacing: -0.5px;
		color: rgba(0, 0, 0, 0.69);
	}
}

.filled {
	color: #EAEE19;
}

.list-stars {
	display: flex;
	flex-direction: row;
	margin-bottom: 6px;
	line-height: 20px;

	.mat-icon {
		font-size: 20px;
	}
}


button {
	background: $btn-color;
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
	text-transform: uppercase;
	width:152px;
	text-align: center;
	padding: 12px 0px;
	border-radius: 4px;
	letter-spacing: 0.25px;
	line-height: 16px;
	color: $secondary-bg-color;
	border: none;

	&:disabled {
		opacity: 0.6;
	}
}