@import 'src/assets/scss/variables.scss';

.post-container {
	padding: 20px 24px;
	background-color: #fff;
	margin-bottom: 28px;
	position: relative;
}

hr {
	transform: scaleY(0.5);
	background: $borderColor;
	position: absolute;
	top: 50px;
	width: 100%;
	left: 0;
}

textarea {
	width: 100%;
	resize: none;
	height: 130px;
	padding: 16px;
	border: 1px solid $borderColor;
	margin-bottom: 10px;
	outline: none;
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: -0.5px;
	color: rgba(0, 0, 0, 0.69);
}

.filled {
	color: $starColor;
}

.list-stars {
	display: flex;
	flex-direction: row;
	margin-bottom: 6px;

	color: #D1D1D1;

	.mat-icon {
		font-size: 28px;
		width: 28px;
		height: 28px;
	}
}


button {
	background: $btn-color;
	box-shadow: $boxshadowBtn;
	text-transform: uppercase;
	width: 152px;
	text-align: center;
	padding: 12px 0px;
	border-radius: 4px;
	letter-spacing: 0.25px;
	line-height: 16px;
	color: $secondary-bg-color;
	border: none;

	&:disabled {
		opacity: 0.6;
	}

	&:hover {
		background-color: #2592a8;
	}
}

p {
	font-weight: 500;
	font-size: 16px;
	line-height: 20px;
	letter-spacing: -0.5px;
	color: $accent-color;
	margin: 0 0 37px 0;
}