@import 'src/assets/scss/variables.scss';
:host {
    height: 100%;
}
.img-container {
	background: $secondary-bg-color;
	box-shadow: $boxShadowContainer;
	border-radius: 4px;
	padding: 35px 37px 50px 37px;
	width: 375px;
	text-align: center;
	margin-right: 28px;
	height: 100%;

	img {
		width: 300px;
		border-radius: 12px;
		margin-bottom: 34px;
	}

	h5 {
		font-weight: 500;
		font-size: 24px;
		line-height: 28px;
		letter-spacing: -0.6px;
		color: $title-text-color;
		margin: 0;
		margin-bottom: 17px;
	}

	p {
		font-size: 14px;
		line-height: 20px;
		text-align: center;
		letter-spacing: -0.5px;
		margin: 0;
	}
}