@import 'src/assets/scss/variables.scss';
:host {
    position: fixed;
    width: 100%;
    top:0;
    left: 0;
    z-index: 10;
}
.header-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $btn-color;
    padding: 11px 32px;
    color: $secondary-bg-color;
    font-size: 20px;
    line-height: 24px;
}

a {
    display: flex;
    align-items: center;
    color: $secondary-bg-color;
    font-size: 20px;
    line-height: 24px;
}

img {
    margin-right: 6px;
}
