@import 'src/assets/scss/variables.scss';
:host {
    position: fixed;
    // height: calc(100vh - 65px);
    top:65px;
    left: 0;
}

.aside-container {
	width: 270px;
	height: calc(100vh - 68px);
	background: $secondary-bg-color;
	box-shadow: $boxShadowContainer;
	padding: 24px 16px;
	text-align: center;
}

.profile-image {
	width: 100px;
	height: 100px;
	background: $cardBgColor;
	border-radius: 50px;
	margin: 0 auto;
	position: relative;

	span {
		position: absolute;
		font-weight: 500;
		font-size: 36px;
		line-height: 20px;
		letter-spacing: -0.5px;
		color: $title-text-color;
		top:50%;
		left: 50%;
		transform: translate(-50%,-50%);
		
	}

}

hr {
	transform: scaleY(0.5);
	background: $borderColor;
}

a {
	display: flex;
	align-items: center;
	padding: 14px 18px;
	background: $cardBgColor;
	border-radius: 4px;
	&:hover {
	background-color: #d9e9ec;
	font-weight: 600;
		color: $iconColor;
	}
}

li {
	margin-bottom: 12px;
}

ul {
	width: 100%;
}

.mat-icon {
	color: $iconColor;
	margin-right: 8px;
}
.active {
	box-shadow: inset 3px 0px 0px $btn-color;
}