$primary-text-color: #9EA0A5;
$title-text-color: #212529;
$bg-color: #F2F2F2;
$link-color: #56575A;
$btn-color: #0D7185;
$secondary-bg-color: #FFFFFF;
$accent-color: #3A3B3F;
$secondary-text-color: rgba(0, 0, 0, 0.6);;
$main-font: 'Montserrat', sans-serif;
$starColor: #EAEE19;
$errorColor:red;
$borderColor: #E4E7EB;
$cardBgColor: #F6F9FD;
$iconColor: #66788A;
$borderInputColor: 1px solid rgba(0, 0, 0, 0.32);
$boxshadowBtn:  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.12), 0px 1px 3px rgba(0, 0, 0, 0.2);
$boxShadowContainer:0px 0px 0px 1px rgba(63, 63, 68, 0.05), 0px 1px 3px rgba(63, 63, 68, 0.15);

