@import 'src/assets/scss/variables.scss';
.inprogress-container {
	background: $secondary-bg-color;
	border: 1px solid $borderColor;
	border-radius: 4px;
	height: calc(100vh - 200px);
	margin-bottom: 24px;
  text-align: center;
  padding: 100px 0;
  p {
    font-size: 40px;
line-height: 40px;
  }
  img{
    width: 250px;
    margin: 0 auto;
  }
}