.footer-container {
  padding: 16px 0 25px 0;
  border-top: 1px solid #DFE3E8;
}

.title {
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: -0.5px;
  color: #616161;
  margin: 0;
}

.description {
  font-size: 12px;
  line-height: 18px;
  letter-spacing: -0.5px;
  color: #6B6C6F;
  margin: 0;
  opacity: 0.5;
}